---
layout: default
---
<div class="cover flexbox-container" id="myContainer">
  <div id="loading" style="display: none">
    <p class="text-center">Loading</p><!-- TODO: replace this a cool spinner! -->
  </div>
  <div class="title">
    {% include icon-logo.html width="6em" %}
    <ul>
      <li class="item-title"></li>
      <li class="item-description"></li>
      <li class="item-level"><i>livello minimo</i></li>
    </ul>
    <ul>
      <li><a href="#"><i class="fa fa-th" aria-hidden="true"></i></a></li>
      <li><a href="javascript:deferredLoading()"><i class="fa fa-refresh" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-code" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h5>News</h5>
    </div>
  </div>
  <div class="row">
    <!-- Show post with category "News" -->
    {% for post in site.categories.news limit:3 %}
     <div class="col-xs-12 col-sm-4">
       <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
       {{ post.excerpt }}
     </div>
    {% endfor %}
  </div><!--/row-->
  <div class="row">
    <div class="col-xs-12">
      <h3>Eventi</h3>
    </div>
  </div>
</div><!--/.container-->

<script>
/*
 * This script allows us to load new content dinamically every page load
 * It loads the data from homepage.json.
 * It currently works only with P5.js script.
 * TODO:
 * - add support for video, images and other things.
 *
*/
// FUNZIONE ORIGINALE
function randomPost() {
  $("canvas").remove();
  $("#loading").show();
  $.get("{{ site.url }}/homepage.json", function() {
  })
  .done(function(data) {
    $("#loading").hide();
    // Get a random item from the array
    var item = data[Math.floor(Math.random() * data.length)];
    $.each(item.includes, function(index, value){
      $.getScript(value)
        .done(console.log(value + " loaded"));
    });
    $.getScript(item.href)
      .done(console.log(item.href + " loaded"));
    $(".item-title").html(item.title + ' | ' + item.author);
    $(".item-description").html(item.description);
    //alert(data[randomIndex].includes);
  })
}
// TEST con Deferred Object
function deferredLoading() {

  $("canvas").remove();
  $("#loading").show();

  var dfd = $.Deferred();

  $.get("{{ site.url }}/homepage.json", function() {
  })
  .done(function(data){
    var item = data[Math.floor(Math.random() * data.length)];
    for(i in item.includes) {
      dfd.done($.get(item.includes[i]).done());
    }

    $.when(dfd).done(
      $.get(item.href).done(
        $("#loading").hide()
      )
    )

    dfd.resolve();

    $(".item-title").html(item.title + ' | ' + item.author);
    $(".item-description").html(item.description);

  })
}

$(document).ready(function() {
    //randomPost();
    deferredLoading();
});
</script>
