---
layout: default
---
<div class="container" id="meetup">
  <div class="row page-title">
    <div class="col-xs-12">
      <h1>Meetup</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="map">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">Portare il Creative Coding nelle citt&agrave;. Favorire l'incontro, lo scambio e la condivisione. Organizzazione di eventi, gruppi di studio e ricerca in tutte le citt&agrave; italiane.</p>
      <p>Vuoi creare un <strong>Meetup</strong> nella tua citt&agrave;? Scrivici!</p>
    </div>
    {% for meetup in site.meetup %}
    <div class="col-xs-12 col-sm-4">
      <h2>{{ meetup.title}}</h2>
      <p>{{ meetup.excerpt | markdownify }}</p>
      <ul class="list-inline">
        <li><a href="mailto:{{ meetup.email }}"><i class="fa fa-inbox" aria-hidden="true"></i> Contatti</a></li>
        {% if meetup.group != null %}
        <li><a href="{{ meetup.group }}"><i class="fa fa-globe" aria-hidden="true"></i> Gruppo</a></li>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div><!--/.container-->
<!-- Google Maps API -->
<script>
  function initMap() {
    var rome = {lat: 41.902783, lng: 12.496366};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: rome
    });

    {% for meetup in site.meetup %}
      {% increment counter %}

      var contentString = '{{ meetup.title }}';

        var infowindow_{{ counter }} = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 200
        });

      var marker_{{ counter }} = new google.maps.Marker({
        position: {lat: {{ meetup.lat}}, lng: {{ meetup.long }}},
        map: map,
        title: '{{ meetup.title }}'
      });

      marker_{{counter}}.addListener('click', function() {
        infowindow_{{ counter }}.open(map, marker_{{ counter }});
      });

    {% endfor %}

  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0us4pRp0E8btrmGueIHwRx5ELsYsjU_w&callback=initMap"></script>
