
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><small>&copy; 2016 Codice Inutile &hearts; è un collettivo di artisti e programmatori nato per esplorare e diffondere la potenzialità del codice.</small></p>
        <ul class="social text-center">
            <li>
              <a href="http://www.github.com/{{ site.github.username }}"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
            </li>
            <li>
              <a href="{{ site.facebook.publisher }}"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
            </li>
            <li>
              <a href="http://www.twitter.com/{{ site.twitter.username }}"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
            </li>
          </ul>
      </div>
    </div>
  </div>

  <!-- GOOGLE ANALYTICS -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79516971-1', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- END GOOGLE ANALYTICS -->

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>

</footer>
