<header>

  <nav class="navbar navbar-fixed-top hide">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CODICE INUTILE ♥</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#about">Eventi</a></li>
            <li><a href="#contact">Progetti</a></li>
            <li><a href="#contact">People</a></li>
            <li><a href="#contact">About</a></li>
            <li><a href="#contact">Press</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

</header>
