/*
 * Media Queries
 * Extra small devices (phones, less than 768px)
 *
*/

header {
  .navbar-nav {
    text-transform: uppercase;
  }
}

body {
    font-family: $inconsolata;
    background: white;
    color: $black;
    height: 100%;
    a:hover, h1, .active, a, a:visited, svg * {
      -webkit-animation: color-change 30s infinite !important;
      -moz-animation: color-change 30s infinite !important;
      -o-animation: color-change 30s infinite !important;
      -ms-animation: color-change 30s infinite !important;
      animation: color-change 30s infinite !important;
    }
    .cover{
      background: #225faa;
      background: linear-gradient(135deg, #222 0%,complement(#555) 100%);
    }

    h1, h2, h3, h4, h5, h6{
        font-family: $monserrat;
        line-height: 1.7em;
    }
    img.logo {
        margin:0 auto 20px;

    }
    footer{
        ul.social {
            margin-top:7em;
            padding:0;
            li {
                display:inline-block;
                margin: 0 1em;
            }
        }
        margin-bottom: 3em;
    }
}
/*SPECIALS*/
.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.cover {
  max-width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  }
.title {
  background: $black;
  position: absolute;
  right: 1em;
  bottom: 0;
  text-align: left;
}
.title ul {
  list-style: none;
  padding: 0;
  float: left;
  margin: 1em;
  color: white; }
.navbox {
  margin: auto; }
.logo {
  width: 200px;
  margin-top: -8em; }
.center-nav {
  margin: 0;
  padding: 0; }
.center-nav li {
  display: inline;
  margin: 0 1em; }
