/*
 * Media Queries
 * Small Devices: tablets, 768px and up
 *
*/
body{
	.title{
		ul{
			opacity:1;
			position: relative;
		}
	}
	.rowPadding{
	  padding: 3em 0;
	}
	.collapse{
	  display: block;
	  opacity:1;
	  position:relative;
	}
	.navbar-toggle{
	  opacity:0;
	  display: block;
	}
}
